html {
  color-scheme: dark;
}

html[data-theme="light"] {
  color-scheme: light;
  --color-bg: #F6F6F6;
  --color-shape: #FFFFFF;
  --color-ink: #000000;
  --color-ink-on-shape: #000000;
}

html[data-theme="dark"] {
  color-scheme: dark;
  --color-bg: #0d0d0d;
  --color-shape: #161616;
  --color-header: #0d0d0d;
  --color-ink: #FFFFFF;
  --color-ink-on-shape: #FFFFFF;
}
